div#titulo{
    font: normal 15pt Arial;
    border-radius: 25px;
    background-color: rgb(28, 28, 31);
    padding: 15px;
    color: white;
    box-shadow: 15px 15px 100px ; 
}

h1{
    text-align: center;
}
body {
    margin: auto;
    padding: 30px;
    background-image: linear-gradient(180deg, tomato, violet);
    background-size: cover;
    
    

}
.destaque{
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    align-content: center;
}
#formacao{
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    align-content: center;
}

.container{

    position: relative;
    border: 1px solid black;
    overflow: hidden;
    width: 150px;
    margin: auto;
    
    
}
.container img{
    
    max-width: 100%;
    transition: all 0.3s;
    transform: scale(1.0);
}
.container:hover img{
    transition: .5s all;
    transform: scale(1.2);
   
}
#lista{
    width:22%;
    margin: auto;

    
}



